#VueActiviteIG
{
    -fx-background-color: #63e963;
    -fx-border-color: #235c40;
    -fx-border-width: 2px;
    -fx-alignment: top-center;
    -fx-font-family: monospace;
    -fx-font-weight: bold;
}

#VueActiviteIGSelectionnee
{
    -fx-background-color: #63e963;
    -fx-border-color: #0000e6;
    -fx-border-width: 3px;
    -fx-alignment: top-center;
    -fx-font-family: monospace;
    -fx-font-weight: bold;
}

#ZoneClients
{
    -fx-background-color: #99e6ff;
}

#VueMondeIG
{
    -fx-background-color: #b5e3b5;
}

#VueOutils
{
    -fx-background-color: #235c40;
}

#PointDeControle
{
    -fx-fill: #17cf85;
}

#PointDeControle:hover
{
    -fx-stroke: #235c40;
    -fx-border-width: 1px;
}

#Line
{
    -fx-stroke: #00bfff;
    -fx-stroke-width: 2px;
}

#LineSelectionnee
{
    -fx-stroke: #0000e6;
    -fx-stroke-width: 3px;
}

#TeteFleche
{
    -fx-stroke: #00bfff;
    -fx-fill: #00bfff;
}

#TeteFlecheSelectionnee
{
    -fx-stroke: #0000e6;
    -fx-fill: #00bfff;
}

.button
 {
    -fx-background-color: transparent;
 }

#VueMenu
{
    -fx-background-color: #3fa674;
}
